.advantages {
  display: flex;
  justify-content: space-around;
  margin-bottom: 72px;
  @include bp(830) {
    justify-content: space-between;
  }
  li {
    display: flex;
    width: 209px;

    height: 112px;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);

    &:hover {
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    }

    @include bp(1200) {
      width: 22.4%;
      max-width: 209px;
    }
    @include bp(768) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  a {
    position: relative;

    margin: auto;
    padding-left: 50px;

    font-weight: 700;
    color: $accent-color;
    text-decoration: none;
    & > img {
      position: absolute;
      left: -20px;
      @include bp(900) {
        left: -15px;
      }
      @include bp(800) {
        left: -10px;
      }
    }
  }
  @include bp(768) {
    flex-direction: column;
    align-items: center;
  }
}

.lead {
  position: relative;

  margin: 0;
  padding-top: 10px;
  padding-bottom: 40px;

  line-height: 27.99px;
  letter-spacing: -0.4px;
  .show-details {
    position: absolute;
    right: 0;
    bottom: 15px;

    color: #969696;
    letter-spacing: -0.39px;

    border-bottom: 1px solid $accent-color;
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
  }
  img {
    float: left;
    margin-top: -10px;
    margin-right: 54px;
    margin-left: 32px;

    @include bp(768) {
      margin-bottom: 30px;
    }
  }

  @include bp(768) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.more-info {
  position: relative;

  padding-bottom: 40px;

  column-count: 2;

  .hide-details {
    position: absolute;
    right: 0;
    bottom: 15px;

    color: #969696;
    letter-spacing: -0.39px;

    border-bottom: 1px solid $accent-color;
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
  }

  h3 {
    display: block;
    margin-top: 0;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    color: #141414;
    letter-spacing: -0.4px;
  }

  li {
    position: relative;

    padding-bottom: 15px;

    &::before {
      content: "•";

      margin-right: 5px;

      font-weight: 700;
      color: #ed1c24;
    }
  }

  @include bp(768) {
    column-count: 1;
  }
}
