.icon {
  display: inline-block;
  overflow: hidden;

  text-align: left;
  text-indent: -9999px;

  background: url("../img/sprite.png") no-repeat;
  &:hover {
    background-image: url("../img/sprite-hover.png");
  }
}

.icon--belt-drive {
  width: 33px;
  height: 20px;

  background-position: -10px -0;
}
.icon--diesel-engine {
  width: 31px;
  height: 20px;

  background-position: -10px -30px;
}
.icon--petrol-engine {
  width: 31px;
  height: 20px;

  background-position: -10px -60px;
}
.icon--requency-transformer {
  width: 31px;
  height: 20px;

  background-position: -10px -90px;
}
.icon--voltage-220 {
  width: 31px;
  height: 11px;

  background-position: -10px -120px;
}
.icon--voltage-380 {
  width: 29px;
  height: 11px;

  background-position: -10px -141px;
}
.icon--plug {
  width: 20px;
  height: 20px;

  background-position: -10px -162px;
}
.icon--nobelt-drive {
  width: 19px;
  height: 20px;

  background-position: -10px -192px;
}
.icon--dehumidifier {
  width: 18px;
  height: 20px;

  background-position: -10px -222px;
}
.icon--without-oil {
  width: 12px;
  height: 20px;

  background-position: -10px -252px;
}
