.header {
  margin-bottom: 31px;
  padding-top: 20px;
  &__nav {
    min-width: 500px;
  }

  &__top {
    display: flex;
    margin-bottom: 8px;

    @include bp(1200) {
      display: none;
    }
  }

  &__mail-icon,
  &__call-icon,
  &__open-menu {
    display: none;

    @include bp(1200) {
      display: block;

      fill: #969696;
    }
  }

  &__search-button {
    display: none;
    @include bp(768) {
      display: block;
    }
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
  }

  &__open-menu {
    background: #ffffff;
    border: none;
    outline: none;
  }

  &__middle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @include bp(1200) {
      align-items: center;
      justify-content: space-between;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  &__info {
    min-width: 285px;
    margin-left: auto;
  }

  &__logo {
    margin-right: 20px;

    @include bp(1200) {
      width: 110px;
      height: auto;
      image-rendering: pixelated;
      margin: 0 4%;
    }

    @include bp(768) {
      width: 104px;
      margin-right: auto;
    }
  }

  &__search {
    position: relative;

    width: 390px;
    height: 46px;

    @include bp(1200) {
      height: 36px;
      width: 55%;
      display: block;
    }
    @include bp(768) {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    }

    @include bpu(769) {
      display: block;
    }

  }

  &__catalog-menu {
    position: relative;
    z-index: 500;
    &:hover {
      .header__catalog-list {
        display: block;
      }
    }
  }

  &__catalog-list {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
  }
  @include bp(1200) {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 666;
    padding-top: 0;
    &>.container {
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
      border-radius: 23px;
    }
  }
}

.small-icons {
  @include bp(1200) {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @include bp(768) {
    width: 35%;
    margin-right: 15px;
    & > a {
      margin-left: 13px;
    }
  }
}
.show {
  display: block;
}
