.results.results--list {
  .card.card--out-of-stock {
    .card__photo-wrapper {
      margin-right: 26px;
    }

    .prop-list__title {
      min-width: 262px;
    }
  }

  .status-label--in-stock {
    width: 93px;
    height: 20px;

    white-space: nowrap;
  }

  .status-label--out-of-stock {
    width: 116px;
    height: 20px;

    white-space: nowrap;
  }

  .prop-list {
    width: 320px;
    padding-top: 6px;

    &__title {
      min-width: 276px;
    }
  }

  .pictures-list {
    justify-content: flex-start;
    order: 2;

    &__item {
      margin-right: 15px;
    }
  }
  .card {
    width: 100%;
    margin-bottom: 22px;
    padding-right: 20px;
    padding-bottom: 29px;

    &__price {
      justify-content: center;
      height: auto;
      margin: 0;
      padding-bottom: 20px;
    }

    &__outdated-price {
      margin-bottom: 19px;
    }

    &__photo-wrapper {
      margin-right: 34px;
      margin-bottom: 0;

      text-align: left;
    }

    &__image {
      margin-bottom: 14px;
      margin-left: 4px;
    }

    &__sticker {
      top: 37px;
      left: -28px;
    }

    &__title {
      height: 27px;

      letter-spacing: -0.64px;
    }

    &__wrapper {
      flex-direction: row;
      align-items: flex-start;
    }

    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__actions {
      display: flex;
      flex-wrap: wrap;
      width: 130px;
    }

    &__link--details {
      order: -1;
    }
  }
}
