<section class="compressors container">
	<h2 class="visually-hidden">Обзор фирм, выпускающих компрессорное оборудование</h2>
	<ul class="compressors__list list-reset">
		<li class="compressors__item compressors__item--sale">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/triumph.png" alt="Компрессор triumph">
				<span class="compressors__title">Triumph</span><br>
				Компания TRIUMPH - немецкий концерн, выпускающий широкую гамму металлообрабатывающего и другого
				промышленного оборудования, имеющий сборочные площадки по всему миру, известный своим высоким качеством и
				надежностью производимого оборудования.
			</p>
			<a href="#" class="compressors__link link">Подробнее</a>
			<span class="compressors__sticker sticker">
				-30%
			</span>
		</li>

		<li class="compressors__item">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/ecomac.png" alt="Компрессор ecomac">
				<span class="compressors__title compressors__title--uppered">EKOMAC</span><br>
				EKOMAK Compressor – завод-изготовитель винтового компрессорного оборудования, а также систем подготовки
				воздуха (рефрижераторные и адсорбционные осушители, магистральные фильтры). EKOMAK Compressor входит в
				состав корпорации Atlas Copco (Compressor Technic, Brand Portfolio).
			</p>
			<a href="#" class="compressors__link link">Подробнее</a>
			<span class="compressors__sticker sticker">
				-30%
			</span>
		</li>

		<li class="compressors__item">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/chicago.png" alt="Компрессор triumph">
				<span class="compressors__title">Сhicago Pneumatic</span><br>
				Chicago Pneumatic – крупнейший производитель промышленного и строительного оборудования. Компания Chicago
				Pneumatic была основана в 1901 году в Чикаго и имеет более чем столетнюю историю разработки и производства
				нового оборудования.
			</p>
			<a href="#" class="compressors__link link">Подробнее</a>
			<span class="compressors__sticker sticker">
				-30%
			</span>
		</li>
		<li class="compressors__item">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/rkz.png" alt="Компрессор triumph">
				<span class="compressors__title compressors__title--uppered">РКЗ</span><br>
				«Ростовский компрессорный завод» («РКЗ») предлагает высокопроизводительные компрессорные установки мощностью
				от до 160 кВт.
				Воздушно-винтовые компрессоры AIRRUS и MIG производятся в России с использованием всех передовых технических
				достижений в области оборудования сжатого воздуха.
			</p>
			<a href="#" class="compressors__link link">Подробнее</a>
			<span class="compressors__sticker sticker">
				-30%
			</span>
		</li>
		<li class="compressors__item">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/dalgakiran(1).png" alt="Компрессор triumph">
				<span class="compressors__title">DALGAKIRAN</span><br>
				Компания DALGAKIRAN, обладающая пятидесятилетним опытом в машиностроении, занимает лидирующие позиции по
				объемам производства и гамме продуктов от Германии до Индии. Российское представительство DALGAKIRAN начало
				свою работу в Российской Федерации в 2001 году.году в Чикаго и имеет более чем столетнюю историю разработки
				и производства нового оборудования.
				<a href="#" class="compressors__link link">Подробнее</a>
				<span class="compressors__sticker sticker">
					-30%
				</span>
		</li>
		<li class="compressors__item">
			<p class="compressors__description">
				<img width="110" height="110" class="compressors__image" src="img/comaro.png" alt="Компрессор triumph">
				<span class="compressors__title compressors__title--uppered">COMARO</span><br>
				Компания TRIUMPH - немецкий концерн, выпускающий широкую гамму металлообрабатывающего и другого
				промышленного оборудования, имеющий сборочные площадки по всему миру, известный своим высоким качеством и
				надежностью производимого оборудования.
			</p>
			<a href="#" class="compressors__link link">Подробнее</a>
			<span class="compressors__sticker sticker">
				-30%
			</span>
		</li>

	</ul>
</section>