<footer class="footer">
	<div class="container">
		<div class="info">
			<img src="img/logo.png" alt="Логотип Kami Kompressor" width="212" height="58" class="logo" />
			<ul class="contacts list-reset">
				<li>
					<a class="phone" href="tel:8(800)511-03-63">8 (800) 511-03-63</a>
				</li>
				<li class="phones-item">
					<a class="phone" href="tel:8(495)134-51-53">8 (495) 134-51-53</a>
				</li>
				<li>
					<a href="#" class="callback">Обратный звонок</a>
				</li>

				<li><a class="mail" href="mailto:air@stanki.ru">air@stanki.ru</a></li>

				<li class="work-hours">Пн. - Пт.: 09:00 - 18:00</li>
			</ul>
		</div>
		<div class="nav">
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">О компании</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Бренды</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Доставка</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Сервис</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Лизинг</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Гос.закупки</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<ul class="products list-reset">
				<li><a href="#">Винтовые компрессоры</a></li>
				<li><a href="#">Поршневые компрессоры</a></li>
				<li><a href="#">Передвижные компрессоры</a></li>
				<li><a href="#">Осушители сжатого воздуха</a></li>
				<li><a href="#">Магистральные фильтры</a></li>
				<li><a href="#">Воздушные ресиверы</a></li>
				<li><a href="#">Промышленные генераторы газа</a></li>
			</ul>
			<p class="license">
				Вы принимаете <a href="#" class="privacy-policy">условия политики конфиденциальности</a>
				и <a href="#" class="user-agreement">пользовательского соглашения</a> каждый раз, когда оставляете свои данные
				в любой форме обратной связи на сайте air.stanki.ru.

				<span class="copyright">© 2019 КАМИ-Компрессор. Все права защищены.</span>
			</p>
		</div>
	</div>
</footer>
