<!-- BEGIN header -->
<header class="header">
	<div class="container">
		<div class="header__top">

			<div class="header__location location">
				<svg class="location__icon" role="img" width="10" height="15">
					<use xlink:href="img/sprite.svg#location" />
				</svg>
				<a href="#" class="location__city">Санкт-Петербург</a>
			</div>

			<nav class="main-nav header__nav">
				<ul class="main-nav__list">
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">О компании</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Бренды</a>
					</li>
					<li class="main-nav__item main-nav__item--submenu">
						<a href="#" class="main-nav__link">Услуги
							<svg class="itemsvg" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
						<ul class="main-nav__submenu submenu">
							<li class="submenu__item">
								<a href="#" class="submenu__link">Доставка</a>
							</li>
							<li class="submenu__item">
								<a href="#" class="submenu__link">Сервис</a>
							</li>
							<li class="submenu__item">
								<a href="#" class="submenu__link">Лизинг</a>
							</li>
							<li class="submenu__item">
								<a href="#" class="submenu__link">Гарантия</a>
							</li>
						</ul>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Дилерам</a>
					</li>
					<li class="main-nav__item">
						<a href="#" class="main-nav__link">Контакты</a>
					</li>
				</ul>
			</nav>

			<div class="info header__info">
				<ul class="info__list">
					<li class="info__item info__item--mail">
						<a class="info__mail" href="mailto:air@stanki.ru">air@stanki.ru</a>
					</li>
					<li class="info__item">Пн. - Пт.: 09:00 - 18:00</li>
				</ul>
			</div>
		</div>

		<div class="header__middle">
			<button type="button" class="header__open-menu">
				<svg role="img" width="22" height="16">
					<use xlink:href="img/sprite.svg#burger" /></svg>

			</button>
			<img src="img/logo.png" alt="Логотип Kami Сompressor" class="header__logo" />

			<div class="header__catalog-menu">

				<button class="header__catalog-button catalog-button">Каталог
					<svg class="catalog-button__icon" role="img" width="14" height="8">
						<use xlink:href="img/sprite.svg#arrow" /></svg>
				</button>

				<ul class="header__catalog-list catalog-list list-reset">
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Винтовые компрессоры
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
						<ul class="catalog-list__submenu list-reset header-submenu">
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/triumph-thumbnail.png"
										alt="предпросмотр"> <span class="header-submenu__title">Triumph</span>
								</a>
							</li>
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/ekomac-thumbnail.png"
										alt="предпросмотр">
									<span class="header-submenu__title header-submenu__title--uppered">EKOMAC</span>
								</a>
							</li>
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/chicago-thumbnail.png"
										alt="предпросмотр">
									<span class="header-submenu__title">Chicago Pneumatic</span>
								</a>
							</li>
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/rkz-thumbnail.png"
										alt="предпросмотр">
									<span class="header-submenu__title header-submenu__title--uppered">РКЗ</span>
								</a>
							</li>
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/dalgakiran.png" alt="предпросмотр">
									<span class="header-submenu__title header-submenu__title--uppered">DALGAKIRAN</span>
								</a>
							</li>
							<li class="header-submenu__item">
								<a href="" class="header-submenu__link link">
									<img class="header-submenu__image" width="45" height="45" src="img/comaro-thumbnail.png"
										alt="предпросмотр">
									<span class="header-submenu__title header-submenu__title--uppered">COMARO</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Поршневые компрессоры
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Передвижные компрессоры
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Осушители сжатого воздуха
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Магистральные фильтры
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Воздушные ресиверы
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
					<li class="catalog-list__item">
						<a href="#" class="catalog-list__link link">
							Промышленные генераторы газа
							<svg class="catalog-list__icon" role="img" width="9" height="5">
								<use xlink:href="img/sprite.svg#arrow" />
							</svg>
						</a>
					</li>
				</ul>

			</div>

			<div class="header__search">
				<form class="search header__search">
					<input class="search__field" type="search" placeholder="th 10/10 d" />
					<button class="search__button" type="submit">
						<svg class="search__icon" role="img" width="23" height="23">
							<use xlink:href="img/sprite.svg#search" />
						</svg>
					</button>
					<button class="search__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
						<svg class="close-button__icon" role="img" width="18" height="18">
							<use xlink:href="img/sprite.svg#close" /></svg>
					</button>
				</form>
				<div class="search__preview preview">
					<div class="preview__inner">
					<ul class="preview__category-list list-reset">
						<li class="preview__category-item">
							<a href="#" class="link preview__category-link">Промышленные генераторы газа
								<svg class="preview__category-icon" role="img" width="9" height="5">
									<use xlink:href="img/sprite.svg#arrow" /></svg>
							</a>
							<span class="preview__category-count">27</span>
						</li>
						<li class="preview__category-item">
							<a href="#" class="link preview__category-link">Промышленные генераторы газа<svg
									class="preview__category-icon" role="img" width="9" height="5">
									<use xlink:href="img/sprite.svg#arrow" /></svg></a>
							<span class="preview__category-count">65</span>
						</li>
						<li class="preview__category-item">
							<a href="#" class="link preview__category-link">Промышленные генераторы газа <svg
									class="preview__category-icon" role="img" width="9" height="5">
									<use xlink:href="img/sprite.svg#arrow" /></svg></a>
							<span class="preview__category-count">84</span>
						</li>
					</ul>
					<ul class="preview__items-list list-reset">
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE</span></li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE</span></li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE</span></li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE Chicago Pneumatic COOL 12 (C0) 230/..</span></li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE</span></li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic</span>
						</li>
						<li class="preview__item"><img class="preview__img" src="img/item-preview.png" alt="предпросмотр" width="42"
								height="44"><span class="preview__title">Рефрижераторный осушитель Chicago Pneumatic COOL
								12 (C0) 230/50 PNE</span></li>
					</ul>
					<p class="preview__results search-results"><a href="#" class="search-results__all link">Все результаты
							поиска</a><span class="search-results__count">113</span></p>
					<button class="preview__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
						<svg class="close-button__icon" role="img" width="18" height="18">
							<use xlink:href="img/sprite.svg#close" /></svg>
					</button>
					</div>
				</div>
			</div>

			<div class="small-icons">
				<button class="header__search-button" type="submit">
					<svg class="search__icon" role="img" width="23" height="23">
						<use xlink:href="img/sprite.svg#search" />
					</svg>
				</button>
				<a href="mailto:air@stanki.ru" class="header__mail-icon">
					<svg role="img" width="24" height="18">
						<use xlink:href="img/sprite.svg#mail" /></svg>
				</a>
				<a href="tel:88005110363" class="header__call-icon">
					<svg role="img" width="19" height="19">
						<use xlink:href="img/sprite.svg#call" /></svg>
				</a>
			</div>

			<ul class="phones-list header__phones">
				<li class="phones-list__item">
					<a href="tel:8(800)511-03-63" class="phones-list__link">8 (800) 511-03-63</a>
				</li>
				<li class="phones-list__item phones-list__item--separated">
					<a href="tel:8(495)134-51-53" class="phones-list__link">
						8 (495) 134-51-53</a>
				</li>
				<li class="phones-list__item">
					<a href="#" class="phones-list__cb">Обратный звонок</a>
				</li>
			</ul>
		</div>

		<ul class="header__catalog catalog">
			<li class="catalog__item">
				<a href="#" class="catalog__link">
					Винтовые компрессоры
				</a>
			</li>
			<li class="catalog__item">
				<a href="#" class="catalog__link">
					Поршневые компрессоры
				</a>
			</li>
			<li class="catalog__item">
				<a href="#" class="catalog__link">Передвижные компрессоры
				</a>
			</li>
			<li class="catalog__item">
				<a href="#" class="catalog__link">Осушители сжатого воздуха
				</a>
			</li>
			<li class="catalog__item">
				<a href="#" class="catalog__link">Магистральные фильтры
				</a>
			</li>
			<li class="catalog__item">
				<a href="#" class="catalog__link">Ресиверы
				</a>
			</li>
		</ul>
	</div>
</header>
<!-- END header -->
