<section class="breadcrumbs-menu">

  <button class="popup-city__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
    <svg class="close-button__icon" role="img" width="18" height="18">
      <use xlink:href="img/sprite.svg#close" /></svg>
  </button>

  <h2 class="breadcrumbs-menu__title">Перейти в раздел</h2>

<ul class="breadcrumbs-menu__list">
  <li class="breadcrumbs-menu__item"><a href="#" class="breadcrumbs-menu__link">Компрессоры и компрессорное оборудование </a></li>
  <li class="breadcrumbs-menu__item"><a href="#" class="breadcrumbs-menu__link">Компрессоры</a></li>
  <li class="breadcrumbs-menu__item"><a href="#" class="breadcrumbs-menu__link">Компрессоры</a></li>
  <li class="breadcrumbs-menu__item"><a href="#" class="breadcrumbs-menu__link">Компрессоры</a></li>
</ul>

</section>
