<div class="burger-menu-wrapper">
  <div class="burger-menu">

    <button class="burger-menu__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
      <svg class="close-button__icon" role="img" width="18" height="18">
        <use xlink:href="img/sprite.svg#close" /></svg>
    </button>


    <div class="burger-menu__location location">
      <svg class="location__icon" role="img" width="10" height="15">
        <use xlink:href="img/sprite.svg#location" />
      </svg>
      <a href="#" class="location__city">Санкт-Петербург <svg class="burger__arrow" role="img" width="9" height="5">
          <use xlink:href="img/sprite.svg#arrow" /></svg>
      </a>
    </div>


    <ul class="burger-menu__catalog-list">

      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Винтовые компрессоры</a></li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Поршневые компрессоры</a></li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Передвижные компрессоры</a>
      </li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Осушители сжатого воздуха</a>
      </li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Магистральные фильтры</a></li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Воздушные ресиверы</a></li>
      <li class="burger-menu__catalog-item"><a class="burger-menu__catalog-link" href="#">Промышленные генераторы
          газа</a></li>

    </ul>


    <ul class="burger-menu__about-list">

      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">О компании</a></li>
      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">Бренды</a></li>
      <li class="burger-menu__about-item">
        <a class="burger-menu__about-link burger-menu__about-link--services" href="#">
          Услуги <svg class="burger__arrow" role="img" width="9" height="5">
            <use xlink:href="img/sprite.svg#arrow" /></svg>
        </a>
      </li>
      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">Дилерам</a></li>
      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">Гос. закупки</a></li>
      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">Статьи</a></li>
      <li class="burger-menu__about-item"><a class="burger-menu__about-link" href="#">Контакты</a></li>

    </ul>


    <ul class="contacts list-reset">
      <li>
        <a class="phone" href="tel:8(800)511-03-63">8 (800) 511-03-63</a>
      </li>
      <li class="phones-item">
        <a class="phone" href="tel:8(495)134-51-53">8 (495) 134-51-53</a>
      </li>
      <li>
        <a href="#" class="callback">Обратный звонок</a>
      </li>
      <li><a class="mail" href="mailto:air@stanki.ru">air@stanki.ru</a></li>
      <li class="work-hours">Пн. - Пт.: 09:00 - 18:00</li>
    </ul>
  </div>
</div>
