<div class="popup">

	<section class="popup-city">
		<button class="popup-city__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
			<svg class="close-button__icon" role="img" width="18" height="18">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</button>
		<h2 class="popup-city__header">Выберите ваш город</h2>
		<input class="popup-city__search" type="text" placeholder="Ваш город">
		<ul class="list-reset popup-city__list cities">
			<li class="cities__item">
				<a class="cities__link link" href="#">Москва</a>
				<a class="cities__link link" href="#">Санкт-Петербург</a>
			</li>
			<li class="cities__item">
				<a class="cities__link link" href="#">Волгоград</a>
				<a class="cities__link link" href="#">Воронеж</a>
			</li>
			<li class="cities__item">
				<a class="cities__link link" href="#">Екатеринбур</a>
			</li>
			<li class="cities__item">
				<a class="cities__link link" href="#">Казань</a>
				<a class="cities__link link" href="#">Красноярск</a>
			</li>
			<li class="cities__item">
				<a class="cities__link link" href="#">Нижний Новгород</a>
				<a class="cities__link link" href="#">Новосибирск</a>
			</li>
			<li class="cities__item">
				<a class="cities__link link" href="#">Омск</a></li>
			<li class="cities__item"><a class="cities__link link" href="#">Пермь</a></li>
			<li class="cities__item"><a class="cities__link cities__link--current link" href="#">Ростов-на-Дону</a></li>
			<li class="cities__item"><a class="cities__link link" href="#">Самара</a></li>
			<li class="cities__item"><a class="cities__link link" href="#">Уфа</a></li>
			<li class="cities__item"><a class="cities__link link" href="#">Челябинск</a></li>
		</ul>
		<p class="popup-city__notice">
			Если вашего города нет в списке, обратитесь за консультацией
			по&nbsp;телефону
			<a class="link popup-city__link" href="tel:8(800)511-06-63">8 (800) 511-06-63</a>
		</p>
	</section>

</div>