<section class="services">

  <button class="popup-city__close-button close-button" type="button" aria-label="Скрыть результаты поиска">
    <svg class="close-button__icon" role="img" width="18" height="18">
      <use xlink:href="img/sprite.svg#close" /></svg>
  </button>


  <div class="services__back back">
    <svg class="popup-city__arrow" role="img" width="9" height="5">
      <use xlink:href="img/sprite.svg#arrow" /></svg>
    Назад
  </div>

  <h2 class="services__title">Услуги</h2>

<ul class="services__list">
  <li class="services__item"><a href="#" class="services__link">Доставка</a></li>
  <li class="services__item"><a href="#" class="services__link">Лизинг</a></li>
  <li class="services__item"><a href="#" class="services__link">Сервис</a></li>
  <li class="services__item"><a href="#" class="services__link">Гарантия</a></li>
</ul>

</section>
