<div class="tags container">
	<div class="tags-slider">
		<div class="tags-slider__item">
			5 кВт
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			15 кВт
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			10 бар
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			10 м3/мин
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			На 380 В
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			500 л
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			С осушителем
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item tags-slider__item--active">
			Масляные винтовые
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>

		</div>
		<div class="tags-slider__item">
			Промышленные
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			Стационарные
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
		<div class="tags-slider__item">
			С водяным охлаждением
			<svg class="tags-slider__icon" role="img" width="12" height="12">
				<use xlink:href="img/sprite.svg#close" /></svg>
		</div>
	</div>
	<button class="tags__button tags__button--next">
		<svg class="tags__button-icon" role="img" width="16" height="9">
			<use xlink:href="img/sprite.svg#arrow" /></svg>

	</button>
	<button class="tags__button tags__button--prev">
		<svg class="tags__button-icon" role="img" width="16" height="9">
			<use xlink:href="img/sprite.svg#arrow" /></svg>
	</button>

</div>