@charset "utf-8";

@import "abstracts/**/*.scss";
@import "vendors/libs";
@import "base/**/*.scss";
@import "layout/**/*.scss";
@import "components/**/*.scss";

.main {
  margin-bottom: 75px;
  @include bp(1200) {
    padding-top: 72px;
  }
  @include bp(768) {
    margin-bottom: 50px;
  }
}

.header.header--sticky {
  position: fixed;
  top: 0;
  z-index: 500;

  width: 100%;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 5px;

  background: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);

  .catalog-button {
    z-index: 5;

    display: inline-block;
  }

  .header__info {
    margin-left: 31px;
  }

  .header__search {
    width: 306px;
    margin-left: 11px;
  }

  .info__item--mail {
    order: 2;
  }

  .header__middle {
    align-items: center;
  }

  .header__phones {
    flex-basis: auto;
    order: 10;
  }

  .phones-list__item--separated,
  .header__location,
  .header__nav,
  .header__catalog,
  .header__logo {
    display: none;
  }
}

.catalog-button {
  position: relative;

  display: none;
  width: 166px;
  height: 46px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 20px;
  color: #fffefe;
  letter-spacing: -0.49px;

  background-color: $accent-color;
  border: none;
  border-radius: 23px;
  outline: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-image: linear-gradient(-53deg, #014a88 0%, #005aa6 100%);
  }

  &__icon {
    position: absolute;

    margin-top: 10px;
    margin-left: 10px;

    fill: #ffffff;
  }
}

.location {
  min-width: 20.2%;
  &__icon {
    margin-right: 5px;
  }
  &__city {
    position: relative;

    color: $accent-color;
    text-decoration: none;
    letter-spacing: -0.4px;
    &:hover,
    &:focus {
      outline: none;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;

        height: 1px;

        background-color: $accent-color;
        opacity: 0.3;
      }
    }
  }
}

.main-nav {
  &__submenu {
    position: absolute;
    top: 26px;
    left: -40px;
    z-index: 100;
    @include bp(1200) {
      left: 0;
      top: 0;
      width: 348px;
      height: 322px;
    }
  }
  &__item {
    &--submenu {
      position: relative;

      padding-left: 5px;
      svg {
        vertical-align: middle;

        fill: #808080;
      }
    }

    &:hover {
      .main-nav__link {
        color: $accent-color;
      }
      svg {
        fill: $accent-color;
      }
    }
    &:hover {
      .main-nav__submenu {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    color: #505050;
    text-decoration: none;
    letter-spacing: -0.39px;
    &:hover {
      color: $accent-color;
    }
  }
}

.submenu {
  display: none;
  min-height: 213px;
  margin: 0;
  padding: 39px 44px 22px;

  list-style: none;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 30px;

    width: 100px;
    height: 30px;
  }

  &__item {
    padding-bottom: 20px;
  }

  &__link {
    position: relative;

    color: $accent-color;
    text-decoration: none;
    letter-spacing: -0.4px;
    &:hover {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;

        height: 1px;

        background-color: $accent-color;
      }
    }
  }
}

.info {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 10px;

    list-style: none;
  }

  &__item {
    color: #969696;
    letter-spacing: -0.4px;
  }

  &__mail {
    color: $main-color;
    text-decoration: none;
    &:hover {
      color: $accent-color;
    }
  }
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  overflow: hidden;

  &__close-button {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;

    @include bp(768) {
      display: block;
    }

    & > .close-button__icon {
      width: 25px;
      height: 25px;
    }
  }

  &__field {
    position: absolute;

    width: 100%;
    height: 100%;
    padding-right: 75px;
    padding-left: 17px;

    font-weight: 400;
    font-size: 16px;
    font-family: Ubuntu;
    color: #000000;
    letter-spacing: -0.4px;

    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 23px;
    &:focus {
      border: 2px solid $accent-color;
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      font-family: Ubuntu;
      color: #969696;
      text-transform: uppercase;
      letter-spacing: -0.4px;
    }
    @include bp(768) {

      padding-left: 50px;
      padding-right: 50px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
      &::placeholder {
        font-size: 0;
      }
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;

    background-color: $accent-color;
    border: none;
    border-radius: 23px;
    outline: none;

    @include bp(1200) {
      width: 56px;
    }
    &:hover,
    &:focus {
      background-image: linear-gradient(-53deg, #014a88 0%, $accent-color 100%);
    }

    @include bp(768) {
      background: transparent;
      left: 0;
      right: auto;
      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }

  &__icon {
    fill: #ffffff;
    @include bp(768) {
      fill:#969696;
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
  }
}

.preview {
  position: relative;
  z-index: 5;

  width: 597px;
  padding-top: 70px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-bottom: 67px;
  padding-left: 45px;

  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  &__results {
    position: absolute;
    bottom: 25px;
    left: 45px;
    @include bp(768) {
      position: static;
      left: auto;
      bottom: auto;
      margin-top: auto;
      margin-bottom: 0;
      padding: 20px 0;
    }
  }

  &__category-list {
    margin-bottom: 27px;

    letter-spacing: -0.4px;
  }

  &__category-item {
    margin-bottom: 15px;
  }

  &__category-count {
    margin-left: 5px;

    color: #808080;
  }

  &__category-icon {
    position: absolute;
    top: 50%;
    left: 500px;

    margin-top: -3px;

    transform: rotate(-90deg);

    fill: #ffffff;
  }

  &__category-link {
    position: relative;
    &:hover {
      .preview__category-icon {
        fill: $accent-color;
      }
    }
  }

  &__items-list {
    padding-left: 6px;
    @include bp(768) {
      overflow: auto;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 18px;
    @include bp(1200) {
      justify-content: flex-start;
    }
    @include bp(768) {
      height: auto;
    }
  }

  &__img {
    padding: 0;
    @include bp(1200) {
      margin-right: 30px;
    }
  }

  &__title {
    &:hover,
    &:focus {
      color: $accent-color;
    }
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 402px;
    max-height: 44px;
    overflow: hidden;

    line-height: 1.56;
    letter-spacing: -0.4px;

    -webkit-line-clamp: 2;

    @include bp(768) {
      width: auto;
      max-height: initial;
      -webkit-line-clamp: 4;
    }
  }

  &__close-button {
    position: absolute;
    top: 14px;
    right: 33px;
  }

  @include bp(1200) {
    width: calc(100% + 100px);
  }

  @include bp(768) {
    width: 100%;
    padding-bottom: 0;
    top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
  }

  &__inner {
    @include bp(768) {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 70px);
    }
  }
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  &__icon {
    fill: #969696;
  }
  &:hover,
  &:focus {
    .close-button__icon {
      fill: $accent-color;
    }
  }
}

.search-results {
  letter-spacing: -0.4px;
  &__all {
    position: relative;

    margin-right: 6px;

    color: $accent-color;
    &:hover,
    &:focus {
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;

        height: 1px;

        background-color: $accent-color;
        opacity: 0.3;
      }
    }
  }

  &__count {
    color: #808080;
  }
}

.phones-list {
  display: flex;
  flex-basis: 493px;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  @include bp(1200) {
    display: none;
  }

  &__item {
    font-weight: 700;
    letter-spacing: -0.45px;
    &--separated {
      position: relative;
      &::after {
        content: "/";
        position: absolute;
        top: 0;
        left: -15px;

        font-size: 18px;
        color: #dcdcdc;
      }
    }
  }

  &__link {
    padding-right: 23px;

    font-size: 18px;
    color: $main-color;
    text-decoration: none;
    letter-spacing: -0.45px;
    &:hover {
      color: $accent-color;
    }
  }

  &__cb {
    $border: 2px;

    position: relative;

    display: block;
    padding: 11px 17px;

    font-weight: 400;
    color: $main-color;
    text-decoration: none;
    letter-spacing: -0.39px;

    background: #ffffff;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 23px;
    outline: none;

    &:hover,
    &:focus {
      color: #ffffff;

      background: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      margin: -$border;

      background-image: linear-gradient(-53deg, $accent-color 0%, #ed1c24 100%);
      border-radius: inherit;
    }
  }
}

.catalog {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;

  background-color: #ffffff;
  border-radius: 33px;

  @include bp(1200) {
    display: none;
  }

  &__item {
    display: flex;
    flex-shrink: 1;
    flex-basis: 193px;
    justify-content: center;
    align-items: center;
    min-height: 65px;

    background-color: #f5f5f5;
    &:last-child,
    &:first-child {
      flex-basis: 179px;
    }
  }

  &__link {
    max-width: 140px;

    text-align: center;
    color: $main-color;
    text-decoration: none;
    letter-spacing: -0.39px;
    &:hover {
      font-weight: 700;
      color: $accent-color;
      letter-spacing: -0.9px;
    }
  }
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

.popup-city-wrapper {

  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 396px;

  display: none;
  height: 100vh;
  z-index: 1666;
  border-radius: 20px;

  overflow: hidden;


  @include bp(1200) {
    top: 0;
    left: 0;
    right: auto;
    transform: none;
    width: 348px;
    border-radius: 23px;
  }
  @include bp(768) {
    width: 100%;
  }
}

.popup-city {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  width: 100%;
  padding-top: 54px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 35px;

  background-color: #ffffff;
  border-radius: 20px;

  opacity: 1;
  z-index: 1666;

  &__content {
    overflow-y: auto;
    max-height: calc(100vh - 225px);
    padding-bottom: 20px;
  }

  &__arrow {
    transform: rotate(90deg);
    fill: #808080;
    vertical-align: middle;
  }

  &__close-button {
    position: absolute;
    top: 22px;
    right: 16px;
    @include bp(1200) {
      top: 12px;
      left: 12px;
      right: auto;
      & > .close-button__icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__header {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: rgb(128, 128, 128);
    letter-spacing: -0.65px;

    @include bp(1200) {
      font-size: 20px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &__search {
    display: block;
    width: 301px;
    height: 46px;
    margin: 0 auto;
    padding-left: 15px;

    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 23px;
    outline: none;
    &:focus {
      border-color: $accent-color;
    }

    @include bp(1200) {
      width: 100%;
      margin: 0 0 30px;
    }
  }

  &__notice {
    padding-right: 50px;
    padding-left: 20px;

    line-height: 1.25;
    color: #808080;
    letter-spacing: -0.4px;

    @include bp(1200) {
      padding: 0;
      margin: 0;
    }
  }

  &__link {
    display: block;

    color: #808080;

    @include bp(1200) {
      display: inline-block;
    }
  }
  @include bp(1200) {
    top: 0;
    transform: translateY(0);
    min-height: 937px;
    border-radius: 23px;
  }
}

.back {
  display: none;
  cursor: pointer;

  @include bp(1200) {
    display: block;
    margin-bottom: 30px;
    color: #969696;
  }
}

.cities {
  margin-bottom: 37px;
  padding-top: 20px;
  padding-left: 20px;
  @include bp(1200) {
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 20px;
    @include bp(1200) {
      margin-bottom: 26px;
    }
  }
  &__link {
    display: block;
    margin-bottom: 10px;

    color: rgb(80, 80, 80);
    letter-spacing: -0.4px;
    &--current {
      display: flex;
      align-items: center;
      padding-right: 20px;

      color: $accent-color;
      &::after {
        content: "•";

        margin-left: 6px;

        font-weight: 700;
        color: #ed1c24;
      }
    }

    @include bp(1200) {
      margin-bottom: 13px;
    }
  }
}

.catalog-list {
  width: 348px;
  padding: 70px 60px 21px 44px;

  letter-spacing: -0.4px;

  background: #ffffff;
  border-radius: 23px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  &__icon {
    position: absolute;
    top: 50%;
    left: 251px;

    margin-top: -2px;

    transform: rotate(-90deg);

    fill: #ffffff;
  }

  &__link {
    position: relative;

    display: block;
    &::after {
      content: "";
      position: absolute;
      right: -72px;

      width: 73px;
      height: 20px;

      background-color: transparent;
    }
    &:hover {
      .catalog-list__icon {
        fill: $accent-color;
      }
    }
  }

  &__item {
    padding-bottom: 20px;
    &:hover {
      .header-submenu {
        display: flex;
      }
    }
  }
}

.header-submenu {
  position: absolute;
  bottom: 0;
  left: 310px;
  z-index: -1;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 534px;
  height: 326px;
  padding-top: 40px;
  padding-left: 79px;

  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  &__image {
    margin-right: 20px;
  }

  &__item {
    position: relative;

    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__title {
    color: #000000;
    letter-spacing: -0.4px;
    &:hover {
      color: $accent-color;
    }
    &--uppered {
      letter-spacing: 1.6px;
    }
  }
}

.breadcrumbs {
  display: flex;
  margin-bottom: 23px;

  &__item {
    &:last-child {
      .breadcrumbs__link {
        color: #969696;
      }
      .breadcrumbs__icon {
        display: none;
      }
    }
    &--small-only {
      display: none;
      @include bp(1200) {
        display: block;
        & > a {
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          width: 23px;
          height: 14px;
          border-radius: 7px;
          border: 1px solid #dcdcdc;
          &::before {
            content: "...";
            position: absolute;
            bottom: -2px;
            right: 50%;
            transform: translateX(50%);
          }
        }
      }
    }
    &:nth-last-child(2) {
      @include bp(768) {
        display: none;
      }
    }
  }

  &__link {
    letter-spacing: -0.39px;
  }

  &__icon {
    margin: 0 4px;

    vertical-align: middle;

    transform: rotate(-90deg);

    fill: #dcdcdc;
  }
}

.main-header {
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.63px;
}

.compressors {
  &__sticker {
    position: absolute;
    top: 36px;
    left: -31px;

    @include bp(1200) {
      left: -4px;
    }

    display: none;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    position: relative;

    width: 48.7%;
    margin-bottom: 33px;
    padding-top: 14px;
    padding-right: 39px;
    padding-bottom: 67px;
    padding-left: 42px;

    letter-spacing: -0.4px;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);

    @include bp(768) {
      width: 100%;
    }
  }
  &__link {
    position: absolute;
    right: 39px;
    bottom: 37px;

    color: #969696;
    text-decoration: none;
    letter-spacing: -0.4px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      left: 0;

      height: 1px;

      background-color: $accent-color;
    }
  }
  &__title {
    font-weight: 700;
    @include bp(768) {
      align-self: flex-start;
    }

    &--uppered {
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
  }
  &__image {
    float: left;
    margin-right: 29px;
    margin-left: 16px;
    @include bp(768) {
      margin: 0;
      margin-bottom: 15px;
    }
  }
  &__description {
    line-height: 1.5;
    @include bp(768) {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > br {
        display: none;
      }
    }
  }
}

.compressors__item.compressors__item--sale {
  .compressors__sticker {
    display: block;
  }
}

.tags-slider {
  margin-bottom: 28px;
  &__item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 13px;

    font-size: 14px;
    color: #969696;
    letter-spacing: -0.35px;

    background-color: #f5f5f5;
    border-radius: 13px;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }

    &--active {
      position: relative;

      padding-right: 30px;

      color: $accent-color;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;

    display: none;
    margin-top: -6px;

    fill: #969696;
    &:hover {
      fill: $accent-color;
    }
  }
}

.tags-slider__item.tags-slider__item--active {
  .tags-slider__icon {
    display: block;
  }
}

.tags {
  position: relative;
  @include bp(1200) {
    padding: 0 30px;
  }
  @include bp(768) {
    padding: 0 50px;
  }
}

.tags__button {
  position: absolute;
  top: 5px;
  cursor: pointer;

  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
  outline: none;
  &-icon {
    fill: #dcdcdc;
  }

  &:hover {
    .tags__button-icon {
      fill: $accent-color;
    }
  }

  &--next {
    right: 5px;

    transform: rotate(-90deg);

    @include bp(1200) {
      right: 1px;
    }
  }

  &--prev {
    left: 5px;

    transform: rotate(90deg);
    @include bp(1200) {
      left: 1px;
    }
  }

}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 57px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;

  @include bp(1200) {
    padding-right: 10px;
    padding-left: 10px;
  }

  &__form {
    width: 225px;
    padding-top: 21px;
    padding-right: 28px;
    padding-left: 28px;

    background-color: #ffffff;
    border: 2px solid #f5f5f5;
    border-radius: 20px;

    @include bp(1200) {
      display: none;
      position: absolute;
      z-index: 100;
      top: 35px;
      left: 10px;
      width: 47.5%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 23px;
      padding-left: 10%;
      padding-right: 15%;
      padding-top: 80px;
    }
    @media (min-width: 1201px) {
      display: block !important;
    }

    @include bp(768) {
      z-index: 166;
      width: 97%;
      padding-right: 0;
    }

    @include bp(620) {
      width: 96%;
    }

    @include bp(460) {
      width: 95%;
    }

    @include bp(360) {
      width: 94%;
    }
  }
}

.form {
  &__fieldset {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
  }

  &__controls {
    .form__fieldset:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    margin-bottom: 13px;
  }

  &__controls {
    margin-bottom: 26px;
    @include bp(1200) {
      width: 165px;
    }
  }
}

.fieldset {
  border: none;

  &__title {
    position: relative;

    margin-bottom: 25px;
  }

  &--buttons {
    margin-bottom: 10px;

    text-align: center;
    @include bp(1200) {
      text-align: left;
    }
  }
}

.title {
  padding-left: 29px;

  font-weight: 700;
  color: #505050;
  letter-spacing: -0.8px;

  cursor: pointer;

  &--closed {
    .title__icon {
      transform: rotate(0deg);

      transition: transform 0.5s;

      fill: $accent-color;
    }
  }
}

.title__icon {
  position: absolute;
  top: 5px;
  left: 0;

  transform: rotate(180deg);

  transition: rotate, 0.5s;

  fill: #dcdcdc;

  &:hover {
    fill: $accent-color;
  }
}

summary::-webkit-details-marker {
  position: absolute;

  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
summary::-moz-list-bullet {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  list-style-type: none;
  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
summary::marker {
  position: absolute;

  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.title-label {
  margin-left: 4px;

  color: #969696;
  &--price {
    font-size: 14px;
    font-family: 'PT Sans', serif;
  }
}

.title--checkbox {
  margin-bottom: 15px;
}

.ui-slider {
  .ui-slider-handle {
    width: 20px;
    height: 13px;

    background-color: #085ba6;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
  }
}

.ui-slider-horizontal {
  height: 2px;

  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: $accent-color;
  cursor: pointer;
}
.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-content .ui-state-default {
  border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  font-weight: normal;
  color: #ffffff;

  background: $accent-color;
  border: none;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 1;
}

.ui-disabled .ui-slider-handle {
  background-color: #dcdcdc;
  background-image: none;
  cursor: pointer;
  opacity: 1;
}

.ui-slider-handle:hover {
  background-color: $accent-color;
}

.ui-disabled .ui-slider-range {
  background-color: #dcdcdc;
}

.values {
  display: flex;
  justify-content: space-between;
}

.value {
  letter-spacing: -0.39px;
}

.ui-disabled ~ .values > .value {
  color: #969696;
}

.range {
  width: 145px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.checkbox-label {
  position: relative;
  cursor: pointer;

  display: block;
  margin-bottom: 8px;
  padding-left: 28px;

  color: #969696;
  letter-spacing: -0.39px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: 20px;
    height: 13px;

    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
  }

  &:hover {
    &::before {
      border-color: $accent-color;
    }
  }
}

.checkbox:checked + .checkbox-label {
  color: #000000;
}

.checkbox:checked + .checkbox-label::before {
  background-color: $accent-color;
  border-color: $accent-color;
}

.checkbox:disabled + .checkbox-label {
  color: #969696;
}

.checkbox:disabled + .checkbox-label::before {
  background-color: $accent-color;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  border-color: $accent-color;
}

.results {
  width: 907px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  &__settings {
    margin-bottom: 26px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";

      width: 284px;
      height: 0;
    }

    @include bp(1200) {
      flex-direction: column;
      align-items: center;
    }
  }

  @include bp(1200) {
    width: 100%;
  }
}

.layout {
  display: flex;
  justify-content: space-between;
  width: 117px;
}

.per-page {
  display: flex;
  justify-content: space-between;
  width: 177px;

  &__link {
    color: #969696;
    letter-spacing: -0.39px;

    &--active,
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  padding-right: 38px;
  padding-left: 14px;

  color: #969696;
  letter-spacing: -0.39px;
  @include bp(1200) {
    display: none;
  }
}

.filters-list {
  display: flex;
  width: 100%;
  min-height: 54px;
  margin-bottom: 15px;
  padding-top: 16px;
  padding-left: 32px;

  color: #969696;
  letter-spacing: -0.39px;

  background-color: #f5f5f5;
  border-radius: 26px;
  z-index: 100;

  &__item {
    &:not(:last-child) {
      margin-right: 58px;
    }

    &--active {
      position: relative;
      &::after {
        content: "•";
        position: absolute;
        top: 2px;
        right: -10px;

        font-weight: 700;
        color: #ed1c24;
      }
      & > a {
        color: $accent-color;

        border: none;
      }
    }
    &:not(:first-child) {
      @include bp(1200) {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 35px;
      }
    }
    &:first-child {
      @include bp(1200) {
        margin-right: 30px;
        order: -10;
      }
      @include bp(768) {
        margin-right: 9px;
      }
    }
  }

  @include bp(1200) {
    .filters-list__item--active {
      width: auto;
      order: -8;
      margin-top: 0;
    }
  }

  &__link {
    position: relative;

    padding-bottom: 2px;

    color: #505050;

    border-bottom: 1px solid #969696;
  }
  @include bp(1200) {
    position: absolute;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    border: none;
    height: 53px;
    overflow: hidden;
    transition: all 0.25s ease-in;
  }
  &::before {
    @include bp(1200) {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 53px;
      border-radius: 26px;
      border: 2px solid #f5f5f5;
      background: transparent;
    }
  }

  @include bp(768) {
    padding-left: 14px;
  }
}

.filters-toggler {
  display: none;
  cursor: pointer;
  @include bp(1200) {
    display: block;
    position: absolute;
    right: 29px;
    top: 23px;
    border: none;
    background-color: transparent;
    background-image: url(../img/arrow-down.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 16px;
    height: 9px;
    z-index: 100;
    outline: none;
  }

  @include bp(768) {
    right: 8px;
  }

  &--active {
    transform: rotate(180deg);
  }
}

.filters-list--dropped {
  height: 232px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  background-color: #ffffff;
  padding-bottom: 50px;
  transition: all 0.25s ease-in;
}

.small-screen-wrapper {
  display: flex;
  justify-content: space-between;
  @include bp(768) {
    flex-wrap: wrap;
  }
}

.form-wrapper {
  cursor: pointer;
  display: none;
  @include bp(1200) {
    display: block;
    border-radius: 26px;
    background-color: #f5f5f5;
    transition: background-color 0.25s ease-in;
    width: 48.6%;
    height: 53px;
    text-align: center;
    letter-spacing: -0.39px;
    font-weight: 700;
    color: #969696;
    z-index: 200;
  }
  @include bp(768) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.form-wrapper--active {
  border-radius: 23px;
  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  transition: background-color 0.25s ease-in;
  & > p {
    color: #005aa6;
    & > button {
      display: inline-block;
    }
  }
}

.form-wrapper__close {
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;
  width: 13px;
  height: 13px;
  background-image: url(../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  vertical-align: middle;
}

.filters-list-wrapper {
  width: 100%;
  @include bp(1200) {
    width: 48.6%;
    position: relative;
    height: 53px;
    margin-bottom: 15px;
  }
  @include bp(768) {
    width: 100%;
  }
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  margin-bottom: 33px;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 14px;
  padding-left: 30px;

  background-color: #ffffff;
  border: 2px solid #f5f5f5;
  border-radius: 26px;

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 55px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    overflow: hidden;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.44px;

    -webkit-line-clamp: 2;
  }

  &__model {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__photo-wrapper {
    margin-bottom: 29px;

    text-align: center;
  }

  &__image {
    margin-bottom: 10px;
  }

  &__status {
    display: block;
  }

  &__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 61px;

    font-weight: 700;
  }

  &__actions {
    text-align: center;
  }

  &__link {
    margin-bottom: 14px;

    &--request {
      display: none;
    }
  }

  &__outdated-price {
    position: relative;

    display: none;

    font-size: 20px;
    line-height: 1.5;
    color: #969696;
    letter-spacing: -0.49px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -5px;
      left: -2px;

      height: 1px;

      background-color: #969696;
    }

    &::after {
      content: ' ₽';
      font-family: 'PT Sans', serif;

    }
  }

  &__actual-price {
    font-size: 25px;
    letter-spacing: -0.61px;
    &::after {
      content: ' ₽';
      font-family: 'PT Sans', serif;
    }
  }

  &__no-price {
    display: none;

    & > br {
      display: none;
    }

    font-weight: 700;
    font-size: 25px;
    color: #141414;
    letter-spacing: -0.61px;
    @include bp(1200) {
      text-align: center;
      & > br {
        display: block;
      }
    }
  }

  &__sticker {
    position: absolute;
    top: 77px;
    left: -13px;

    display: none;
  }
}

.status-label--out-of-stock {
  display: none;
}

.card.card--sale {
  .card {
    &__sticker {
      display: block;
    }

    &__actual-price {
      color: #ed1c24;
    }

    &__outdated-price {
      display: inline-block;
    }
  }
}

.card.card--out-of-stock {
  .status-label--in-stock {
    display: none;
  }

  .status-label--out-of-stock {
    display: block;
  }

  .card {
    &__title {
      color: #969696;
    }

    &__price {
      color: #969696;
    }

    &__link--buy {
      background-color: #969696;
      cursor: not-allowed;
      &:hover,
      &:focus {
        background: #969696;
      }
    }
  }
}

.card.card--request {
  border-color: #dcdcdc;
  .card {
    &__outdated-price,
    &__actual-price {
      display: none;
    }

    &__no-price {
      display: block;
    }

    &__link--buy {
      display: none;
    }

    &__link--request {
      display: inline-block;
    }
  }
}

.prop-list {
  width: 100%;
  margin-bottom: 15px;

  &__item {
    display: flex;
    margin-bottom: 9px;

    letter-spacing: -0.39px;

    &--optional {
      display: none;
    }
  }

  &__title {
    min-width: 177px;

    color: #505050;
    & > b {
      font-weight: 400;
      color: #969696;
    }
  }

  &__value {
    color: #141414;
  }
}

.pictures-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
  padding-right: 14px;
  &::after {
    content: "";

    flex-grow: 1;
    width: 20%;
    height: 0;
  }

  &__item {
    margin-right: 11px;
    margin-bottom: 6px;
  }
}
